@import "../../global.scss";

.contactform {
  background-color: white;
  display: flex;
  flex-direction: column;

  @include mobile {
    flex-direction: row;
  }

  .top {
    flex: 2;
    display: flex;
    flex-direction: row;
    overflow: hidden;

    img {
      height: 100%;
    }
  }

  .bottom {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    @include mobile {
      //display: none;
    }

    .icon {
      font-size: 60px;
    }
  }
}

.MuiPhoneInputDropdown {
  display: none;
}
